.project-top {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 125px;
  background-color: #171717;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    opacity: .55;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000 100%);
  }
  .container {
    position: relative;
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    @include max(680) {
      padding-top: 100px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.project-top__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: .55;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.project-top__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 540px;
  padding-bottom: 40px;

  flex-grow: 1;
  @include max(980) {
    justify-content: center;
  }
}

.project-top__text-inn {
  margin-top: auto;
  animation-delay: .2s;
}

.project-top__subtitle {
  font-family: $lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
  color: #f98e25;

  @include max(680) {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .02px;
  }
}

.project-top__title {
  font-family: $playfair;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  max-width: 660px;
  letter-spacing: .56px;
  color: #fff;

  @include maxh(600) {
    font-size: 40px;
    line-height: 50px;
    max-width: 450px;
    letter-spacing: .4px;
  }
  @include max(680) {
    font-size: 27px;
    line-height: 32.4px;
    max-width: 300px;
    letter-spacing: .27px;
  }
}

.project-top__anim-icon {
  width: 80px;
  height: 80px;
  margin-top: auto;
  margin-bottom: 53px;
  transform: translateX(-40px);
  animation-delay: .2s;

  @include max(1300) {
    transform: translateX(0);
  }
  @include max(680) {
    margin-bottom: 15px;
  }
  @include maxh(630) {
    display: none;
  }
  svg {
    width: 80px;
    height: 80px;
  }
}

.project-top-descr {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px 30px 15px 65px;
  animation-delay: .2s;
  background-color: #fff;

  @include max(680) {
    width: calc(100% + 15px);
    padding: 15px;
  }
}

.project-top-descr__kind {
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: block;
  margin-bottom: 5px;
  color: #f98e25;
}

.project-top-descr__title {
  font-family: $playfair;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
  letter-spacing: .24px;
  color: #171717;

  @include max(680) {
    font-size: 16px;
    line-height: 20.8px;
    letter-spacing: .16px;
  }
}

.project-top-descr__items {
  display: flex;

  @include max(680) {
    flex-direction: column;
  }
}

.project-top-descr__item {
  padding-right: 25px;
  padding-bottom: 5px;
  white-space: nowrap;

  @include max(680) {
    padding-right: 0;
    padding-bottom: 0;
  }
  span {
    font-family: $lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: inline-block;
    padding-right: 15px;

    &:first-child {
      color: #6b6b6b;
    }
    &:last-child {
      color: #171717;
    }
  }
}

.project-top-descr__right {
  flex: none;
}

.project-top-descr__more {
  display: flex;
  align-items: flex-end;
  text-decoration: none;

  @include max(425) {
    display: none;
  }
  &:hover {
    .project-top-descr__svg-arr {
      transform: translateY(8px);
    }
    .project-top-descr__text {
      color: #171717;
    }
  }
}

.project-top-descr__text {
  font-family: $lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 5px;
  transition: color .5s;
  white-space: nowrap;
  color: #6b6b6b;
}

.project-top-descr__svg {
  position: relative;
  width: 30px;
  height: 43px;
  margin-left: 20px;
}

.project-top-descr__svg-arr {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 13px;
  height: 30px;
  margin: auto;
  transition: transform .5s;
  svg {
    width: 13px;
    height: 30px;

    stroke: #f98e25;
  }
}

.project-top-descr__svg-circle {
  position: absolute;
  right: 0;
  bottom: 0;
  svg {
    width: 30px;
    height: 30px;

    stroke: #f98e25;
  }
}
