//begin project-top
.project-top
  .project-top__bg(style='background-image: url("assets/img/bg-index-01.jpg")')
  .container
    .project-top__text
      .project-top__text-inn
        h3.project-top__subtitle July 14, 2020
        h2.project-top__title Social Media: How Using Social Media Affects Teenagers
    .project-top__anim-icon
      include ../elements/use-scroll
//end project-top
