mixin cases-item(img, kind, title)
  .cases-item
    a(href="#").cases-item__link
      .cases-item__img
        img(src="assets/img/case-" + img + ".jpg" alt="picture")
      .cases-item__descr
        span.cases-item__kind #{kind}
        h3.cases-item__title #{title}
        .cases-item__arr
          +svg('cases-arr')


.cases-content
  .container
    //begin cases-slider
    .cases-slider
      +cases-item('01', 'Branding', 'Global Crypto-Summit 2019 in Toronto')
      +cases-item('02', 'Branding / Digital', 'Bounty Mermaid Maldives Party 2019')
      +cases-item('03', 'Branding', 'Amsterdam Coffee Shop Barista Battle')
      +cases-item('01', 'Branding', 'Global Crypto-Summit 2019 in Toronto')
      //+cases-item('02', 'Branding / Digital', 'Bounty Mermaid Maldives Party 2019')
      //+cases-item('03', 'Branding', 'Amsterdam Coffee Shop Barista Battle')
    //end cases-slider