//begin footer
footer.footer
  .container-lg
    //begin footer__socials
    .footer__socials
      a(href="https://www.facebook.com/home.php" target='_blank' rel="nofollow noopener noreferrer").footer__social.footer__social--fb
        +svg('fb')
      a(href="https://www.instagram.com/" target='_blank' rel="nofollow noopener noreferrer").footer__social.footer__social--inst
        +svg('inst')
      a(href="https://www.linkedin.com/feed/" target='_blank' rel="nofollow noopener noreferrer").footer__social.footer__social--in
        +svg('in')
    //end footer__socials

    //begin footer__copyright
    .footer__copyright
      span We are human rights fighters, animals lovers, recycling doers, climate change supporters. All rights reserved @ TBD
    //end footer__copyright
//end footer