//begin header
header.header
  .container-lg
    a(href="/").header__logo.header__logo--desktop.logo
      img(src="assets/img/logo-slogan.svg" alt="White Rabbit")
    a(href="/").header__logo.header__logo--mobile.logo
      img(src="assets/img/logo-slogan-mobile.svg" alt="White Rabbit")

    include ../elements/menu

    a(href="#").header__brief-btn.brief-btn
      span Brief Us
      +svg('carrot')

    .header__burger
      +svg('burger')
//end header