//begin index__footer
footer.index__footer.index-footer
  .container-lg
    //begin index-footer__socials
    .index-footer__socials
      a(href="#" target='_blank').index-footer__social.index-footer__social--fb
        +svg('fb')
      a(href="#" target='_blank').index-footer__social.index-footer__social--inst
        +svg('inst')
      a(href="#" target='_blank').index-footer__social.index-footer__social--in
        +svg('in')
    //end index-footer__socials

    //begin index-footer__copyright
    .index-footer__copyright
      span We are human rights fighters, animals lovers, recycling doers, climate change supporters. All rights reserved @ TBD
    //end index-footer__copyright

    //begin index-footer__items
    .index-footer__items
      a(href="#").index-footer__item.index-footer__item--00.active
        span.index-footer__item-numb 01.
        span.index-footer__item-text Global Crypto-Summit 2019 in Toronto
      a(href="#").index-footer__item.index-footer__item--01
        span.index-footer__item-numb 02.
        span.index-footer__item-text Bounty Mermaid Maldives Party 2019
      a(href="#").index-footer__item.index-footer__item--02
        span.index-footer__item-numb 03.
        span.index-footer__item-text Amsterdam Coffee Shop Barista Battle
    //end index-footer__items
//end index__footer