//begin index-slider
.index-slider#index-slider
  .index-slider__item(style='background-image: url("assets/img/bg-index-01.jpg")')
  .index-slider__item(style='background-image: url("assets/img/bg-index-02.jpg")')
  .index-slider__item(style='background-image: url("assets/img/bg-index-03.jpg")')
//end index-slider