//begin index-slider
.index-slider#index-slider
  .index-slider__item.index-slider__item--01
  .index-slider__item.index-slider__item--02
  .index-slider__item.index-slider__item--03
//end index-slider