//begin project-second__slider
.project-second__slider
  a(href="#").project-second__slider-link Swipe

  .project-slider
    .project-slider__item.project-slider__item--01
      .project-slider__img(style='background-image: url("assets/img/slide-01.jpg")')
    .project-slider__item.project-slider__item--02
      .project-slider__img(style='background-image: url("assets/img/slide-02.jpg")')
    .project-slider__item.project-slider__item--03
      .project-slider__img(style='background-image: url("assets/img/slide-03.jpg")')
    .project-slider__item.project-slider__item--04
      .project-slider__img(style='background-image: url("assets/img/slide-04.jpg")')
    .project-slider__item.project-slider__item--01
      .project-slider__img(style='background-image: url("assets/img/slide-01.jpg")')
    .project-slider__item.project-slider__item--02
      .project-slider__img(style='background-image: url("assets/img/slide-02.jpg")')
    .project-slider__item.project-slider__item--03
      .project-slider__img(style='background-image: url("assets/img/slide-03.jpg")')
    .project-slider__item.project-slider__item--04
      .project-slider__img(style='background-image: url("assets/img/slide-04.jpg")')
//end project-second__slider
