svg#el_IEvpl7wqe(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 93 93')
  style.
    @-webkit-keyframes kf_el_KCDfESSaej_an_sWUCf15jc {
      0% {
        -webkit-transform: translate(46.86935043334961px, 46.89064598083496px) scale(1, 1) translate(-46.86935043334961px, -46.89064598083496px);
        transform: translate(46.86935043334961px, 46.89064598083496px) scale(1, 1) translate(-46.86935043334961px, -46.89064598083496px);
      }
      50% {
        -webkit-transform: translate(46.86935043334961px, 46.89064598083496px) scale(1.5, 1.5) translate(-46.86935043334961px, -46.89064598083496px);
        transform: translate(46.86935043334961px, 46.89064598083496px) scale(1.5, 1.5) translate(-46.86935043334961px, -46.89064598083496px);
      }
      100% {
        -webkit-transform: translate(46.86935043334961px, 46.89064598083496px) scale(1, 1) translate(-46.86935043334961px, -46.89064598083496px);
        transform: translate(46.86935043334961px, 46.89064598083496px) scale(1, 1) translate(-46.86935043334961px, -46.89064598083496px);
      }
    }
    @keyframes kf_el_KCDfESSaej_an_sWUCf15jc {
      0% {
        -webkit-transform: translate(46.86935043334961px, 46.89064598083496px) scale(1, 1) translate(-46.86935043334961px, -46.89064598083496px);
        transform: translate(46.86935043334961px, 46.89064598083496px) scale(1, 1) translate(-46.86935043334961px, -46.89064598083496px);
      }
      50% {
        -webkit-transform: translate(46.86935043334961px, 46.89064598083496px) scale(1.5, 1.5) translate(-46.86935043334961px, -46.89064598083496px);
        transform: translate(46.86935043334961px, 46.89064598083496px) scale(1.5, 1.5) translate(-46.86935043334961px, -46.89064598083496px);
      }
      100% {
        -webkit-transform: translate(46.86935043334961px, 46.89064598083496px) scale(1, 1) translate(-46.86935043334961px, -46.89064598083496px);
        transform: translate(46.86935043334961px, 46.89064598083496px) scale(1, 1) translate(-46.86935043334961px, -46.89064598083496px);
      }
    }
    @-webkit-keyframes kf_el_oqx9A8rbb5_an_cnn35lf6t {
      0% {
        -webkit-transform: translate(46.91500473022461px, 46.88500213623047px) rotate(0deg) translate(-46.91500473022461px, -46.88500213623047px);
        transform: translate(46.91500473022461px, 46.88500213623047px) rotate(0deg) translate(-46.91500473022461px, -46.88500213623047px);
      }
      100% {
        -webkit-transform: translate(46.91500473022461px, 46.88500213623047px) rotate(90deg) translate(-46.91500473022461px, -46.88500213623047px);
        transform: translate(46.91500473022461px, 46.88500213623047px) rotate(90deg) translate(-46.91500473022461px, -46.88500213623047px);
      }
    }
    @keyframes kf_el_oqx9A8rbb5_an_cnn35lf6t {
      0% {
        -webkit-transform: translate(46.91500473022461px, 46.88500213623047px) rotate(0deg) translate(-46.91500473022461px, -46.88500213623047px);
        transform: translate(46.91500473022461px, 46.88500213623047px) rotate(0deg) translate(-46.91500473022461px, -46.88500213623047px);
      }
      100% {
        -webkit-transform: translate(46.91500473022461px, 46.88500213623047px) rotate(90deg) translate(-46.91500473022461px, -46.88500213623047px);
        transform: translate(46.91500473022461px, 46.88500213623047px) rotate(90deg) translate(-46.91500473022461px, -46.88500213623047px);
      }
    }
    #el_IEvpl7wqe * {
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
      animation-timing-function: cubic-bezier(0, 0, 1, 1);
    }
    #el_oqx9A8rbb5 {
      fill: #b17742;
    }
    #el_KCDfESSaej {
      fill: #f98e25;
    }
    #el_KCDfESSaej_an_UuNKx0riJ {
      -webkit-transform: translate(46.86935043334961px, 46.89064598083496px) rotate(0deg) translate(-46.86935043334961px, -46.89064598083496px);
      transform: translate(46.86935043334961px, 46.89064598083496px) rotate(0deg) translate(-46.86935043334961px, -46.89064598083496px);
    }
    #el_oqx9A8rbb5_an_cnn35lf6t {
      -webkit-animation-fill-mode: backwards;
      animation-fill-mode: backwards;
      -webkit-transform: translate(46.91500473022461px, 46.88500213623047px) rotate(0deg) translate(-46.91500473022461px, -46.88500213623047px);
      transform: translate(46.91500473022461px, 46.88500213623047px) rotate(0deg) translate(-46.91500473022461px, -46.88500213623047px);
      -webkit-animation-name: kf_el_oqx9A8rbb5_an_cnn35lf6t;
      animation-name: kf_el_oqx9A8rbb5_an_cnn35lf6t;
      -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
      animation-timing-function: cubic-bezier(0, 0, 1, 1);
    }
    #el_KCDfESSaej_an_sWUCf15jc {
      -webkit-animation-fill-mode: backwards;
      animation-fill-mode: backwards;
      -webkit-transform: translate(46.86935043334961px, 46.89064598083496px) scale(1, 1) translate(-46.86935043334961px, -46.89064598083496px);
      transform: translate(46.86935043334961px, 46.89064598083496px) scale(1, 1) translate(-46.86935043334961px, -46.89064598083496px);
      -webkit-animation-name: kf_el_KCDfESSaej_an_sWUCf15jc;
      animation-name: kf_el_KCDfESSaej_an_sWUCf15jc;
      -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
      animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
  defs
  title Asset 6
  g#el_ExBSbOeU-l(data-name='Layer 2')
    g#el_3lflk54Fwr(data-name='Layer 1')
      g#el_oqx9A8rbb5_an_cnn35lf6t(data-animator-group='true', data-animator-type='1')
        path#el_oqx9A8rbb5(d='M8.46,53.78l-7.84.87-.28-2.5a4.77,4.77,0,0,1,0-1.26A2.28,2.28,0,0,1,.66,50a1.61,1.61,0,0,1,.59-.57,2.18,2.18,0,0,1,.83-.25,1.79,1.79,0,0,1,.57,0,1.73,1.73,0,0,1,.53.21,2.19,2.19,0,0,1,.46.41,2.82,2.82,0,0,1,.37.62,2.43,2.43,0,0,1,.47-1.37,1.62,1.62,0,0,1,1.13-.56,2.21,2.21,0,0,1,.93.08,1.81,1.81,0,0,1,.76.46,2.43,2.43,0,0,1,.56.81A4.21,4.21,0,0,1,8.15,51ZM4,53.2l-.15-1.39A2.63,2.63,0,0,0,3.67,51a1.55,1.55,0,0,0-.33-.52,1.08,1.08,0,0,0-.46-.27,1.26,1.26,0,0,0-.55,0,1.19,1.19,0,0,0-1,.52,2.19,2.19,0,0,0-.18,1.33l.16,1.44Zm.76-.08,2.73-.3-.19-1.7a3,3,0,0,0-.19-.77,1.48,1.48,0,0,0-.35-.5,1.11,1.11,0,0,0-.49-.26,1.58,1.58,0,0,0-.58,0,1.21,1.21,0,0,0-.91.54,2.09,2.09,0,0,0-.21,1.34Zm-.11-7.93,3.28.24-.08,1L0,45.92l.16-2.23A5.32,5.32,0,0,1,.4,42.42a2.59,2.59,0,0,1,.5-.87,1.73,1.73,0,0,1,.73-.47A2.29,2.29,0,0,1,2.55,41a2.36,2.36,0,0,1,.76.19,2.13,2.13,0,0,1,.63.43,2.3,2.3,0,0,1,.45.64,2.74,2.74,0,0,1,.24.84A1.42,1.42,0,0,1,5,42.74l3.29-2.07-.07.95A.47.47,0,0,1,8,42L5,43.87a.59.59,0,0,0-.2.18.77.77,0,0,0-.09.33Zm-.78-.06L4,44a2.42,2.42,0,0,0,0-.82,1.56,1.56,0,0,0-.28-.61,1.26,1.26,0,0,0-.46-.4A1.72,1.72,0,0,0,2.55,42a1.27,1.27,0,0,0-1.09.39A2.21,2.21,0,0,0,1,43.76L.92,44.92Zm5-6.82-.22,1L1,37.73l.22-1ZM3.55,28.89l.82.29L3.12,32.76l2.47.86,1-2.89L7.4,31l-1,2.9,2.54.89,1.26-3.59.81.3-1.6,4.58L2,33.48Zm3.64-7,.76.42L6.12,25.61l2.42,1.33,1.56-2.83.76.42L9.3,27.36l3,1.64-.51.93-6.9-3.81Zm11.08-2.64a2.27,2.27,0,0,0,.49-.74,2,2,0,0,0,.12-.79,2.1,2.1,0,0,0-.23-.79,2.85,2.85,0,0,0-.56-.73l-3.44-3.33.74-.76,3.44,3.33a3.66,3.66,0,0,1,.76,1,2.83,2.83,0,0,1,.29,1.15,2.88,2.88,0,0,1-.2,1.18,3.48,3.48,0,0,1-.74,1.11,3.41,3.41,0,0,1-1.08.77,2.9,2.9,0,0,1-1.17.25,3,3,0,0,1-1.16-.25,3.66,3.66,0,0,1-1.06-.73L11,16.6l.73-.76,3.44,3.33a3,3,0,0,0,.75.52,2,2,0,0,0,.8.21,1.85,1.85,0,0,0,.79-.15A2.19,2.19,0,0,0,18.27,19.23ZM22.16,8.51a.46.46,0,0,1,0,.17.26.26,0,0,1-.1.11.36.36,0,0,1-.23.05l-.38,0A2.57,2.57,0,0,0,21,9a2.26,2.26,0,0,0-1,.74,1.47,1.47,0,0,0-.22.48,1.17,1.17,0,0,0,.2.93,1,1,0,0,0,.45.35,1.52,1.52,0,0,0,.57.05,3.4,3.4,0,0,0,.65-.13l.7-.21q.36-.11.72-.18a2.44,2.44,0,0,1,.71,0,1.68,1.68,0,0,1,.68.21,1.84,1.84,0,0,1,.61.58,2.68,2.68,0,0,1,.42.89,2.3,2.3,0,0,1,0,.94,2.41,2.41,0,0,1-.37.92,3,3,0,0,1-.8.8,3.35,3.35,0,0,1-1.3.58,3,3,0,0,1-1.31,0l0-.59a.32.32,0,0,1,0-.14.18.18,0,0,1,.09-.12.31.31,0,0,1,.16,0h.58a1.84,1.84,0,0,0,.39,0,1.9,1.9,0,0,0,.43-.13,1.94,1.94,0,0,0,.48-.27,2,2,0,0,0,.49-.48,1.41,1.41,0,0,0,.24-.53,1.28,1.28,0,0,0,0-.55,1.65,1.65,0,0,0-.25-.54,1,1,0,0,0-.48-.39,1.32,1.32,0,0,0-.57-.06,2.74,2.74,0,0,0-.64.14l-.69.22c-.24.07-.48.14-.72.19a2.13,2.13,0,0,1-.71,0,1.61,1.61,0,0,1-.69-.23,2.07,2.07,0,0,1-.64-.62,1.94,1.94,0,0,1-.34-.76,2.11,2.11,0,0,1,0-.83,2.18,2.18,0,0,1,.35-.84,2.51,2.51,0,0,1,.74-.75A3.28,3.28,0,0,1,21,8,2.7,2.7,0,0,1,22.08,8Zm8.32-2.14a.91.91,0,0,0,.33,1.24A.91.91,0,1,0,31.72,6,.91.91,0,0,0,30.48,6.37Zm23.3,79,.87,7.83-2.5.28a4.81,4.81,0,0,1-1.26,0,2.45,2.45,0,0,1-.9-.31,1.69,1.69,0,0,1-.57-.59,2.18,2.18,0,0,1-.25-.84,1.75,1.75,0,0,1,0-.56,1.63,1.63,0,0,1,.21-.53,2,2,0,0,1,.41-.46,2.48,2.48,0,0,1,.62-.37,2.5,2.5,0,0,1-1.37-.47,1.65,1.65,0,0,1-.56-1.14,2.15,2.15,0,0,1,.08-.92,1.91,1.91,0,0,1,.46-.77,2.57,2.57,0,0,1,.81-.55A3.88,3.88,0,0,1,51,85.64Zm-.58,4.44-1.39.16a2.64,2.64,0,0,0-.77.18,1.42,1.42,0,0,0-.52.34,1,1,0,0,0-.27.46,1.25,1.25,0,0,0,0,.55,1.2,1.2,0,0,0,.52,1,2.19,2.19,0,0,0,1.33.18l1.44-.17ZM53.12,89l-.3-2.73-1.7.19a2.63,2.63,0,0,0-.77.19,1.35,1.35,0,0,0-.5.35,1,1,0,0,0-.26.48,1.63,1.63,0,0,0,0,.59,1.22,1.22,0,0,0,.54.91,2.09,2.09,0,0,0,1.34.21Zm-7.93.11.24-3.28,1,.08-.56,7.86-2.23-.16a4.84,4.84,0,0,1-1.27-.25,2.29,2.29,0,0,1-.87-.5,1.77,1.77,0,0,1-.47-.72,2.31,2.31,0,0,1-.11-.92,2.42,2.42,0,0,1,.19-.77,2.22,2.22,0,0,1,.43-.62,2.3,2.3,0,0,1,.64-.45,3.05,3.05,0,0,1,.84-.25,1.15,1.15,0,0,1-.33-.36l-2.07-3.28.95.06a.48.48,0,0,1,.41.26l1.84,3a.59.59,0,0,0,.18.2.79.79,0,0,0,.33.08Zm-.06.77L44,89.82a2.69,2.69,0,0,0-.82.06,1.55,1.55,0,0,0-.61.27,1.29,1.29,0,0,0-.4.47,1.72,1.72,0,0,0-.17.62,1.27,1.27,0,0,0,.39,1.09,2.28,2.28,0,0,0,1.36.46l1.16.08Zm-6.82-5,1,.22-1.63,7.71-1-.22Zm-9.42,5.32.29-.82,3.58,1.25.86-2.47-2.89-1,.27-.79,2.9,1,.89-2.54L31.2,83.61l.3-.82,4.58,1.61-2.6,7.44Zm-7-3.64.42-.76,3.32,1.83,1.33-2.41-2.83-1.56.42-.77,2.83,1.57,1.64-3,.93.52-3.81,6.9ZM19.23,75.52a2.12,2.12,0,0,0-.74-.49,1.79,1.79,0,0,0-.79-.12,1.93,1.93,0,0,0-.79.23,3,3,0,0,0-.73.55l-3.33,3.45-.76-.74L15.42,75a3.47,3.47,0,0,1,1-.76,3,3,0,0,1,1.15-.3,2.89,2.89,0,0,1,1.18.21,3.44,3.44,0,0,1,1.11.73,3.57,3.57,0,0,1,.77,1.09,2.83,2.83,0,0,1,.25,1.17,3,3,0,0,1-.25,1.16,3.66,3.66,0,0,1-.73,1.06L16.6,82.76,15.84,82l3.33-3.44a3,3,0,0,0,.52-.75A1.9,1.9,0,0,0,19.9,77a1.82,1.82,0,0,0-.15-.79A2.19,2.19,0,0,0,19.23,75.52ZM8.51,71.63a.46.46,0,0,1,.17,0,.31.31,0,0,1,.11.09.39.39,0,0,1,.05.24c0,.1,0,.23,0,.37a2.44,2.44,0,0,0,.09.49,2.06,2.06,0,0,0,.3.59,2.1,2.1,0,0,0,.44.45,1.29,1.29,0,0,0,.48.22,1,1,0,0,0,.48,0,1.13,1.13,0,0,0,.45-.2,1,1,0,0,0,.35-.45,1.47,1.47,0,0,0,.05-.56,3.25,3.25,0,0,0-.13-.65l-.21-.7q-.11-.36-.18-.72a2.49,2.49,0,0,1,0-.72,1.64,1.64,0,0,1,.21-.67,1.86,1.86,0,0,1,.58-.62,2.66,2.66,0,0,1,.89-.41,2.14,2.14,0,0,1,.94,0,2.26,2.26,0,0,1,.92.37,3,3,0,0,1,.8.8,3.35,3.35,0,0,1,.58,1.3,3,3,0,0,1,0,1.31l-.59,0a.32.32,0,0,1-.14,0,.27.27,0,0,1-.12-.09.35.35,0,0,1,0-.17,1,1,0,0,1,0-.25v-.32a1.78,1.78,0,0,0,0-.39,2.15,2.15,0,0,0-.13-.44,2.38,2.38,0,0,0-.27-.48,2.49,2.49,0,0,0-.48-.49,1.41,1.41,0,0,0-.53-.24,1.45,1.45,0,0,0-.55,0,1.47,1.47,0,0,0-.54.25,1,1,0,0,0-.39.47,1.36,1.36,0,0,0-.06.57,2.82,2.82,0,0,0,.14.65c.07.22.14.45.22.69s.14.47.19.71a2.2,2.2,0,0,1,0,.72,1.61,1.61,0,0,1-.23.69,2.07,2.07,0,0,1-.62.64A2.27,2.27,0,0,1,11,75a1.93,1.93,0,0,1-.83,0,2.16,2.16,0,0,1-.84-.34,2.63,2.63,0,0,1-.75-.74A3.37,3.37,0,0,1,8,72.84,2.7,2.7,0,0,1,8,71.71ZM6.37,63.31a.91.91,0,0,0,.91-1.58.91.91,0,1,0-.91,1.58Zm79-23.3,7.83-.87.28,2.49a4.8,4.8,0,0,1,0,1.26,2.57,2.57,0,0,1-.31.91,1.58,1.58,0,0,1-.59.56,2.18,2.18,0,0,1-.84.26,1.75,1.75,0,0,1-.56,0,1.46,1.46,0,0,1-.53-.22,1.76,1.76,0,0,1-.46-.41,2.42,2.42,0,0,1-.37-.61,2.47,2.47,0,0,1-.47,1.36,1.62,1.62,0,0,1-1.14.57,2.15,2.15,0,0,1-.92-.08,2,2,0,0,1-.77-.46,2.51,2.51,0,0,1-.55-.82,3.8,3.8,0,0,1-.29-1.15Zm4.44.57.16,1.4a2.64,2.64,0,0,0,.18.77,1.62,1.62,0,0,0,.34.52,1,1,0,0,0,.46.27,1.42,1.42,0,0,0,.55,0,1.21,1.21,0,0,0,1-.53,2.16,2.16,0,0,0,.18-1.32l-.17-1.45Zm-.75.09-2.73.3.19,1.69a2.55,2.55,0,0,0,.19.77,1.49,1.49,0,0,0,.35.51,1.13,1.13,0,0,0,.48.26,1.44,1.44,0,0,0,.59,0,1.17,1.17,0,0,0,.91-.54,2,2,0,0,0,.21-1.33Zm.11,7.93-3.28-.24.08-1.06,7.86.57-.16,2.22a4.92,4.92,0,0,1-.25,1.28,2.46,2.46,0,0,1-.5.87,1.77,1.77,0,0,1-.72.47,2.31,2.31,0,0,1-.92.1,2.17,2.17,0,0,1-.77-.18,2.22,2.22,0,0,1-.62-.43,2.35,2.35,0,0,1-.45-.65,3,3,0,0,1-.25-.83,1,1,0,0,1-.36.32l-3.28,2.07.06-.94a.46.46,0,0,1,.26-.41l3-1.84a.61.61,0,0,0,.2-.19.79.79,0,0,0,.08-.33Zm.77,0-.08,1.12a2.75,2.75,0,0,0,.06.83,1.62,1.62,0,0,0,.27.61,1.39,1.39,0,0,0,.47.4,1.53,1.53,0,0,0,.62.16,1.23,1.23,0,0,0,1.09-.38A2.28,2.28,0,0,0,92.79,50l.08-1.16Zm-5,6.82.22-1,7.71,1.62-.22,1.05Zm5.32,9.42-.82-.28L90.66,61l-2.47-.87-1,2.9-.79-.27,1-2.9L84.86,59l-1.25,3.58-.82-.29,1.61-4.58,7.44,2.6Zm-3.64,7-.76-.42,1.83-3.31-2.41-1.34-1.56,2.84-.77-.42,1.57-2.84-3-1.63.52-.94,6.9,3.81ZM75.52,74.55a2.25,2.25,0,0,0-.49.75,1.79,1.79,0,0,0-.12.79,1.93,1.93,0,0,0,.23.78,2.86,2.86,0,0,0,.55.73l3.45,3.33-.74.77L75,78.37a3.39,3.39,0,0,1-.76-1,3,3,0,0,1-.3-1.15A2.85,2.85,0,0,1,74.11,75a3.44,3.44,0,0,1,.73-1.11,3.26,3.26,0,0,1,1.09-.77,2.84,2.84,0,0,1,2.33,0,3.83,3.83,0,0,1,1.06.72l3.44,3.33L82,78l-3.44-3.33a2.79,2.79,0,0,0-.75-.53,2,2,0,0,0-.79-.2,1.82,1.82,0,0,0-.79.15A2.31,2.31,0,0,0,75.52,74.55ZM71.63,85.27a.42.42,0,0,1,0-.16.31.31,0,0,1,.09-.11.38.38,0,0,1,.24-.06,2.4,2.4,0,0,0,.37,0,1.94,1.94,0,0,0,.49-.1,2,2,0,0,0,.59-.29,1.92,1.92,0,0,0,.45-.45,1.29,1.29,0,0,0,.22-.48.94.94,0,0,0,0-.47,1.13,1.13,0,0,0-.2-.45.87.87,0,0,0-.45-.35,1.29,1.29,0,0,0-.56,0,2.67,2.67,0,0,0-.65.13l-.7.21q-.36.11-.72.18a2.49,2.49,0,0,1-.72,0,1.66,1.66,0,0,1-.67-.22,1.82,1.82,0,0,1-.62-.57,2.62,2.62,0,0,1-.41-.9,2.13,2.13,0,0,1,0-.94,2.28,2.28,0,0,1,.37-.91,3.22,3.22,0,0,1,.8-.81,3.5,3.5,0,0,1,1.3-.58,3.4,3.4,0,0,1,1.31,0l0,.59a.4.4,0,0,1,0,.15.24.24,0,0,1-.09.11.26.26,0,0,1-.17,0h-.57a1.78,1.78,0,0,0-.39,0,2.15,2.15,0,0,0-.44.13,2.38,2.38,0,0,0-.48.27,2.2,2.2,0,0,0-.49.47,1.48,1.48,0,0,0-.24.53,1.51,1.51,0,0,0,0,.56,1.64,1.64,0,0,0,.25.54,1,1,0,0,0,.47.38,1.22,1.22,0,0,0,.57.07,3.46,3.46,0,0,0,.65-.14l.69-.22a5.71,5.71,0,0,1,.71-.19,2.53,2.53,0,0,1,.72,0,1.78,1.78,0,0,1,.69.24,2.07,2.07,0,0,1,.64.62,2.31,2.31,0,0,1,.34.75,2,2,0,0,1,0,.84,2.22,2.22,0,0,1-.34.84,2.91,2.91,0,0,1-.74.75,3.59,3.59,0,0,1-1.1.53,3.08,3.08,0,0,1-1.13.06Zm-8.32,2.15A.9.9,0,0,0,63,86.18a.89.89,0,0,0-1.24.33.91.91,0,0,0,.33,1.24A.92.92,0,0,0,63.31,87.42ZM40,8.46,39.14.62,41.63.34a4.75,4.75,0,0,1,1.26,0,2.38,2.38,0,0,1,.91.31,1.51,1.51,0,0,1,.56.59,2.19,2.19,0,0,1,.26.83,1.79,1.79,0,0,1,0,.57,1.53,1.53,0,0,1-.22.53,1.94,1.94,0,0,1-.41.46,2.74,2.74,0,0,1-.61.37,2.39,2.39,0,0,1,1.36.47,1.59,1.59,0,0,1,.57,1.13,2.21,2.21,0,0,1-.08.93,1.92,1.92,0,0,1-.46.76,2.38,2.38,0,0,1-.82.56,4.12,4.12,0,0,1-1.15.29ZM40.58,4,42,3.86a2.63,2.63,0,0,0,.77-.19,1.78,1.78,0,0,0,.52-.33,1.08,1.08,0,0,0,.27-.46,1.44,1.44,0,0,0,0-.55,1.2,1.2,0,0,0-.53-1,2.16,2.16,0,0,0-1.32-.18l-1.45.16Zm.09.76L41,7.5l1.69-.19a2.89,2.89,0,0,0,.77-.19,1.64,1.64,0,0,0,.51-.35,1.23,1.23,0,0,0,.26-.49,1.39,1.39,0,0,0,0-.58,1.15,1.15,0,0,0-.54-.91,2,2,0,0,0-1.33-.21Zm7.93-.11-.24,3.28L47.3,7.86,47.87,0l2.22.16A5.41,5.41,0,0,1,51.37.4a2.8,2.8,0,0,1,.87.5,1.73,1.73,0,0,1,.47.73,2.29,2.29,0,0,1,.1.92,2.12,2.12,0,0,1-.61,1.39,2.35,2.35,0,0,1-.65.45,2.68,2.68,0,0,1-.83.24A1.22,1.22,0,0,1,51,5l2.07,3.29-.94-.07A.46.46,0,0,1,51.76,8L49.92,5a.61.61,0,0,0-.19-.2.77.77,0,0,0-.33-.09Zm0-.78L49.77,4a2.48,2.48,0,0,0,.83,0,1.63,1.63,0,0,0,.61-.28,1.36,1.36,0,0,0,.4-.46,1.53,1.53,0,0,0,.16-.62,1.23,1.23,0,0,0-.38-1.09A2.21,2.21,0,0,0,50,1L48.87.92Zm6.82,5-1-.22L56.05,1l1.05.22Zm9.42-5.33-.28.82L61,3.12l-.87,2.47,2.9,1-.27.79-2.9-1L59,8.92l3.58,1.26-.29.81-4.58-1.6L60.31,2Zm7,3.64L71.49,8,68.18,6.12,66.84,8.54l2.84,1.56-.42.76L66.42,9.3l-1.63,3-.94-.51,3.81-6.9Zm2.64,11.08a2.42,2.42,0,0,0,.75.49,2,2,0,0,0,.79.12,2.11,2.11,0,0,0,.78-.23,2.69,2.69,0,0,0,.73-.56l3.33-3.44.77.74-3.33,3.44a3.56,3.56,0,0,1-1,.76,2.79,2.79,0,0,1-1.15.29,2.83,2.83,0,0,1-1.17-.2,3.48,3.48,0,0,1-1.11-.74,3.13,3.13,0,0,1-.77-1.08,2.9,2.9,0,0,1-.25-1.17,2.82,2.82,0,0,1,.25-1.16,3.83,3.83,0,0,1,.72-1.06L77.18,11l.77.73L74.62,15.2a2.79,2.79,0,0,0-.53.75,2.14,2.14,0,0,0-.2.8,1.85,1.85,0,0,0,.15.79A2.31,2.31,0,0,0,74.55,18.27Zm10.72,3.89a.42.42,0,0,1-.16,0,.26.26,0,0,1-.11-.1.35.35,0,0,1-.06-.23,2.56,2.56,0,0,0,0-.38,2,2,0,0,0-.1-.49,2.09,2.09,0,0,0-.29-.58,2,2,0,0,0-.45-.46,1.47,1.47,0,0,0-.48-.22,1.24,1.24,0,0,0-.47,0,1.3,1.3,0,0,0-.45.2.87.87,0,0,0-.35.45,1.34,1.34,0,0,0,0,.57,2.77,2.77,0,0,0,.13.65c.07.22.14.46.21.7s.13.48.18.72a2.44,2.44,0,0,1,0,.71,1.7,1.7,0,0,1-.22.68,1.8,1.8,0,0,1-.57.61,2.64,2.64,0,0,1-.9.42,2.29,2.29,0,0,1-.94,0,2.43,2.43,0,0,1-.91-.37,3.22,3.22,0,0,1-.81-.8,3.5,3.5,0,0,1-.58-1.3,3.4,3.4,0,0,1,0-1.31l.59,0,.15,0a.16.16,0,0,1,.11.09.23.23,0,0,1,0,.16v.58a1.84,1.84,0,0,0,0,.39,1.9,1.9,0,0,0,.13.43,1.94,1.94,0,0,0,.27.48,1.84,1.84,0,0,0,.47.49,1.48,1.48,0,0,0,.53.24,1.32,1.32,0,0,0,.56,0,1.87,1.87,0,0,0,.54-.25,1,1,0,0,0,.38-.48,1.18,1.18,0,0,0,.07-.57,3.37,3.37,0,0,0-.14-.64c-.07-.23-.15-.46-.22-.69a6.38,6.38,0,0,1-.19-.72,2.44,2.44,0,0,1,0-.71,1.78,1.78,0,0,1,.24-.69,2.07,2.07,0,0,1,.62-.64,2,2,0,0,1,.75-.34,2.16,2.16,0,0,1,.84,0,2.25,2.25,0,0,1,.84.35,2.76,2.76,0,0,1,.75.74,3.48,3.48,0,0,1,.53,1.1,3.08,3.08,0,0,1,.06,1.13Zm2.15,8.32a.91.91,0,1,0,.33,1.24A.91.91,0,0,0,87.42,30.48Z')
      g#el_KCDfESSaej_an_sWUCf15jc(data-animator-group='true', data-animator-type='2')
        path#el_KCDfESSaej(d='M49,41.85a6.3,6.3,0,0,0-7.63,1.66l2.8,2.81a.8.8,0,0,1,0,1.14.81.81,0,0,1-1.15,0l-2.55-2.55L34,58.26a1.14,1.14,0,0,0,1.52,1.52l6.79-3.31L39.82,54a.81.81,0,0,1,0-1.15.83.83,0,0,1,1.15,0l2.89,2.9L49,53.19a6.31,6.31,0,0,0,0-11.34Zm4.67-1.78a5,5,0,0,0-1.54-6.18,5,5,0,0,0-.4,7.72l.41.4a5,5,0,0,0,7.71-.4A5.05,5.05,0,0,0,53.71,40.07Z')
