//begin services-circles
.services-circles
  .services-circle.services-circle--00.active
    svg
      circle(r="40").circle-white
      circle(r="40").circle-grey
  .services-circle.services-circle--01
    svg
      circle(r="40").circle-white
      circle(r="40").circle-grey
  .services-circle.services-circle--02
    svg
      circle(r="40").circle-white
      circle(r="40").circle-grey
//end services-circles