//begin slider-circles
.slider-circles
  .slider-circle.slider-circle--00.active
    svg
      circle.circle-white
      circle.circle-grey
  .slider-circle.slider-circle--01
    svg
      circle.circle-white
      circle.circle-grey
  .slider-circle.slider-circle--02
    svg
      circle.circle-white
      circle.circle-grey
//end slider-circles