//begin slider-circles
.slider-circles
  .slider-circle.slider-circle--00.active
    svg(width="42" height="42" viewBox="0 0 42 42")
      circle(r="40").circle-white
      circle(r="40").circle-grey
  .slider-circle.slider-circle--01
    svg
      circle(r="40").circle-white
      circle(r="40").circle-grey
  .slider-circle.slider-circle--02
    svg
      circle(r="40").circle-white
      circle(r="40").circle-grey
//end slider-circles