// ***** main colors *******
$brand: #171717;

$highlight: #B17742;
$highlight-hov: #F98E25;

// ***** text colors *******
$text: #171717;

// ===== fonts =====
$lato:     'Lato', sans-serif;
$playfair: 'Playfair Display', sans-serif;