extends ../_template

block variables
  - var title       = 'White Rabbit'
  - var description = 'White Rabbit'
  - var ogtitle     = 'White Rabbit'

block content
  .main-wrap.no-js
    //begin content
    main.main.cases
      include ../sections/header

      h2.cases__bg Cases

      include ../sections/cases-slider

      //begin cases__animation-icon
      .cases__animation-icon
        include ../elements/scroll-or-swipe
      //end cases__animation-icon
      include ../sections/footer
    //end content

